body {
  font-family: 'Hind'; }

#twentyone, h1 {
  text-align: center;
  color: lightsalmon; }

.bjFigure {
  justify-content: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 10rem; }

.bj-img {
  margin: 0 2em; }

#bj-counter {
  font-size: 5em;
  color: white; }

.background-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/javascript-deck-of-cards.jpg");
  background-position: center;
  background-size: cover; }

@media (max-width: 480px) {
  .bjFigure {
    display: inline-block;
    padding-top: 1rem; }
  .bj-img {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .background-image {
    background-size: 100% 100% auto; } }
